{% extends "app/base.html" %}

{% block content %}
<div class="container">
    <h1 class="alert alert-warning">Student Form</h1>
    <div class="container">
        <div class="row">
            <div class="col col-8 offset-2">

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
</div>



<br><br><br>
<h1 class="alert alert-warning">Students Records</h1>
<table class="table caption-top my-5">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        
        {% for i in data  %}



      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.password}}</td>
        <td>
            <a href="{% url 'update' i.id %}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <form action="{% url 'delete' i.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </form>
        </td>
      </tr>

      {% endfor %}
      
    </tbody>
  </table>


</div>
    


    {% endblock content %}